@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}





.menuValue:hover .menuItem{
  visibility: visible;
  height: auto;
  z-index: 1;
  width: 100%;
  left: 0%;
  top: 62px;
}

.menuItem {
  visibility: hidden;
  height: 0px;
  /* padding: 0px !important;
  position:absolute;
  right: -120px;
  z-index:99;
  top: 50px; */
  background-color: #fff;
}




body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
